#title {
	padding-left: 10px;
	padding-right: 10px;
}

#contacts {
	padding-left: 10px;
	padding-right: 10px;
}

.row:nth-of-type(odd) {
	background-color: #f2f2f2;
}

.row:nth-of-type(even) {
	background-color: #fafafa;
}

.name {
	padding-top: 10px;
	font-weight: bold;
	color: #4d4d4d;
}

.email {
	color: blue;
	padding-bottom: 10px;
}

#footer {
	padding-top: 15px;
}