html, body {
	padding-left: 10px;
	padding-right: 10px;
}

.row:nth-of-type(odd) {
	background-color: #f2f2f2;
}

.row:nth-of-type(even) {
	background-color: #fbfbfb;
}

.name {
	color: green;
}

.email {
	color: blue;
	margin-bottom: 10px;
}

#footer {
	padding-top: 15px;
}