.top-spacing {
	margin-top: 5px;
}
.btn-default {
	height: 35px;
	width: 35px;
}
h1 {
	text-align: center;
}
h2 {
	text-align: center;
}
ul {
	list-style: none;
	padding: 0;
}
#round {
	font-weight: bold;
	margin-left: 5px;
	margin-right: 5px;
}
#lower {
	border-top: solid 1px #cccccc;
}
#backspace {
	width: 73px;
}
.impossible {
	background-color: #808080;
}
.definite {
	background-color: #ffff00;
}