#title {
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 0;
	margin-bottom: 0;
}

#subtitle {
	margin-top: 0;
	padding-top: 0;
	padding-left: 22px;
	padding-right: 22px;
}

#players {
	padding-left: 20px;
	padding-right: 20px;
}

.row:nth-of-type(odd) {
	background-color: #f2f2f2;
}

.row:nth-of-type(even) {
	background-color: #fafafa;
}

.name {
	padding-top: 10px;
	font-weight: bold;
	color: #4d4d4d;
}

.email {
	color: blue;
	padding-bottom: 10px;
}

#footer {
	padding-top: 15px;
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 10px;
}