<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="format-detection" content="telephone=no" />
        <meta name="viewport" content="user-scalable=0, initial-scale=1, width=device-width, height=device-height, target-densitydpi=medium-dpi" />
        <link rel="stylesheet" type="text/css" href="css/bootstrap.css" />
        <link rel="stylesheet" type="text/css" href="css/contacts.css" />
        <title>Word Duel</title>
    </head>
    <body ng-app="wordduel">
    	<h1>Word Duel</h1>
        
        <div id="contacts"></div>
        
        <div ng-controller="ContactsController">
        	<div ng-repeat="contact in contacts" class="row" ng-click="sendEmailTo('{{contact.emails[0].value}}', '{{contact.name.givenName}} {{contact.name.familyName}}')">
        		<div class="col-md-6 name">{{contact.name.givenName}} {{contact.name.familyName}}</div>
        		<div class="col-md-6 email">{{contact.emails[0].value}}</div>
        	</div>
        </div>

        <a href="index.html" class="btn btn-default btn-lg btn-block">Cancel</a>
        
        <input type="hidden" id="contactsBus" />

        <script type="text/javascript" src="js/vendor/jquery-1.10.2.min.js"></script>
        <script type="text/javascript" src="js/vendor/angular.js"></script>
        <script type="text/javascript" src="js/vendor/bootstrap.js"></script>
        <script type="text/javascript" src="phonegap.js"></script>
        <script type="text/javascript" src="js/controllers/ContactsController.js"></script>
    </body>
</html>