<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="format-detection" content="telephone=no" />
        <meta name="viewport" content="user-scalable=0, initial-scale=1, width=device-width, height=device-height, target-densitydpi=medium-dpi" />
        <link rel="stylesheet" type="text/css" href="css/bootstrap.css" />
        <link rel="stylesheet" type="text/css" href="css/contacts.css" />
        <title>Word Duel</title>
    </head>
    <body ng-app="wordDuel">
    	<h1>Word Duel</h1>

        <div id="contacts" ng-controller="ContactsController">
        	<div ng-repeat="contact in contacts" class="row" ng-click="selectContact('{{contact.displayName}}', '{{contact.givenName}}', '{{contact.familyName}}', '{{contact.email}}')">
        		<div class="col-md-6 name">{{contact.displayName}}</div>
        		<div class="col-md-6 email">{{contact.emailAddress}}</div>
        	</div>
        </div>

        <div id="footer">
            <a href="index.html" class="btn btn-default btn-lg btn-block">Cancel</a>
        </div>

        <input type="hidden" id="contactsBus" />

        <script type="text/javascript" src="js/vendor/jquery-1.10.2.min.js"></script>
        <script type="text/javascript" src="js/vendor/angular.js"></script>
        <script type="text/javascript" src="js/vendor/bootstrap.js"></script>
        <script type="text/javascript" src="phonegap.js"></script>
        <script type="text/javascript" src="js/controllers/ContactsController.js"></script>
        <script type="text/javascript" src="js/services/GamePlayStorage.js"></script>
    </body>
</html>