<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="format-detection" content="telephone=no" />
        <meta name="viewport" content="user-scalable=0, initial-scale=1, width=device-width, height=device-height, target-densitydpi=medium-dpi" />
        <link rel="stylesheet" type="text/css" href="css/bootstrap.css" />
        <link rel="stylesheet" type="text/css" href="css/index.css" />
        <title>Word Duel</title>
    </head>
    <body ng-app="wordDuel">
    	<h1 id="title">Word Duel</h1>
        <h4 id="subtitle">Who is the word champion?</h4>

        <div id="players" ng-controller="PlayerListController">
        	<div ng-repeat="player in playerList" class="row">
        		<div class="col-md-6 name" ng-click="selectPlayer(player)">{{player.name}}</div>
        		<div class="col-md-6 email" ng-click="selectPlayer(player)">{{player.email}}</div>
        	</div>
        </div>

        <div id="footer">
            <a href="contacts.html" class="btn btn-primary btn-lg btn-block">Start a new game</a>
        </div>
        
        <input type="hidden" id="newInvite" />
        <input type="hidden" id="playerListBus" />
        
        <script type="text/javascript" src="js/vendor/jquery-2.1.0.js"></script>
        <script type="text/javascript" src="js/vendor/angular.js"></script>
        <script type="text/javascript" src="js/vendor/bootstrap.js"></script>
        <script type="text/javascript" src="js/vendor/GCM.js"></script>
        <script type="text/javascript" src="js/shared.js"></script>
        <script type="text/javascript" src="js/index.js"></script>
        <script type="text/javascript" src="js/services/GamePlayStorage.js"></script>
        <script type="text/javascript" src="js/controllers/PlayerListController.js"></script>
        <script type="text/javascript" src="phonegap.js"></script>
        <script type="text/javascript" src="LaunchMyApp.js"></script>
        <script src="js/plugins/LaunchMyApp.js"></script>
    </body>
</html>